<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<servlet>
		<servlet-name>PublishServlet</servlet-name>
		<servlet-class>com.sily.publish.PublishServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TriggerEventServlet</servlet-name>
    <servlet-class>com.sily.servlet.TriggerEventServlet</servlet-class>
  </servlet>
  <display-name>publish</display-name>

	
	<context-param>
		<param-name>log4j-init-file</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>PublishServlet</servlet-name>
		<url-pattern>/servlet/PublishServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>TriggerEventServlet</servlet-name>
    <url-pattern>/servlet/TriggerEventServlet</url-pattern>
  </servlet-mapping>
	<listener>
		<listener-class>test.EmailSendListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sily.publish.PublishListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
