BODY {
	FONT-SIZE: 10.5pt; BACKGROUND: #ffffff; SCROLLBAR-BASE-COLOR: #336699
}
P {
	FONT-SIZE: 10.5pt
}
DIV {
	FONT-SIZE: 10.5pt
}
LI {
	FONT-SIZE: 10.5pt
}
TD {
	FONT-SIZE: 10.5pt
}
TABLE {
	FONT-SIZE: 10.5pt
}
INPUT {
	FONT-SIZE: 10.5pt
}
TEXTAREA {
	FONT-SIZE: 10.5pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #000000
}
A:link {
	COLOR: blue; TEXT-DECORATION: underline
}
A:active {
	COLOR: blue; TEXT-DECORATION: underline
}
A:visited {
	COLOR: blue; TEXT-DECORATION: underline
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.ContentTitle {
	FONT-WEIGHT: bold
}
.HightLight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.LowLight {
	FONT-WEIGHT: normal; COLOR: #999999
}
XMP {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; MARGIN: -1px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "Verdana" , "Courier New", "Courier", "mono"; HEIGHT: 100%; BACKGROUND-COLOR: #efefef; WORD-WRAP: break-word
}
.codezone {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana" , "Courier New", "Courier", "mono"; BACKGROUND-COLOR: #efefef
}
.1topleft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.1topcenter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.1topright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.1odd {
	BACKGROUND-COLOR: #f6f6f6
}
.1even {
	BACKGROUND-COLOR: #f6f6f6
}
.1middleleft {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.1middlecenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.1middleright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.1bottomleft {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.1bottomcenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.1bottomright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.2topleft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.2topcenter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba; TEXT-ALIGN: right
}
.2topright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba; TEXT-ALIGN: right
}
.2odd {
	BACKGROUND-COLOR: #f6f6f6
}
.2even {
	BACKGROUND-COLOR: #f6f6f6
}
.2middleleft {
	FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #fffbed
}
.2middlecenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.2middleright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.2bottomleft {
	FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #fffbed
}
.2bottomcenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.2bottomright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.3topleft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.3topcenter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.3topright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffeeba
}
.3odd {
	BACKGROUND-COLOR: #f6f6f6
}
.3even {
	BACKGROUND-COLOR: #ffffff
}
.3middleleft {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.3middlecenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.3middleright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.3bottomleft {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.3bottomcenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.3bottomright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif
}
.4topleft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #3d66b5
}
.4topcenter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #3d66b5; TEXT-ALIGN: center
}
.4topright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #3d66b5; TEXT-ALIGN: center
}
.4middleleft {
	FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4
}
.4middlecenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4; TEXT-ALIGN: center
}
.4middleright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4; TEXT-ALIGN: center
}
.4bottomleft {
	FONT: bold 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4
}
.4bottomcenter {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4; TEXT-ALIGN: center
}
.4bottomright {
	FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: #004a84; BACKGROUND-COLOR: #e9eef4; TEXT-ALIGN: center
}
