#where-ru {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #c00000; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #c00000; PADDING-BOTTOM: 10px; WIDTH: 100%; BORDER-TOP-COLOR: #c00000; PADDING-TOP: 10px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c00000
}
#where-ru A {
	COLOR: #c00000; TEXT-DECORATION: underline
}
#where-ru P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#my-groups-menu {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 8px; Z-INDEX: 1; BACKGROUND: #fff; PADDING-BOTTOM: 8px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 160px; LINE-HEIGHT: 200%; PADDING-TOP: 8px; BORDER-BOTTOM: #999 1px solid; POSITION: absolute; TOP: 132px; TEXT-ALIGN: left
}
#my-groups-menu A {
	COLOR: #0039b6
}
#my-groups-menu A:link {
	COLOR: #0039b6
}
#my-groups-menu A:visited {
	COLOR: #0039b6
}
#my-groups-menu  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#my-groups-menu LI {
	MARGIN-TOP: 4px
}
#my-groups-menu LI.current {
	FONT-WEIGHT: bold; COLOR: #000
}
#my-groups-menu LI.section {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; COLOR: #000
}
DL.groups-list DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 20px 10px; PADDING-TOP: 0px
}
DL.groups-list DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.groups-list DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 5px
}
DL.groups-list .current {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; OVERFLOW: visible; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff; moz-border-radius: 0px 7px 7px 0px
}
DL.left_relate DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.left_relate DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL.left_relate DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; LINE-HEIGHT: 100%; PADDING-TOP: 0px
}
TABLE.topics-list {
	OVERFLOW: hidden
}
TABLE.topics-list TH {
	FONT-WEIGHT: normal; COLOR: #000; BORDER-BOTTOM: #999 2px solid; HEIGHT: 28px; TEXT-ALIGN: left
}
TABLE.topics-listtop TD {
	CLEAR: both; MARGIN: 0px auto; VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
TABLE.topics-list TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 6px; MARGIN: 0px auto; VERTICAL-ALIGN: top; PADDING-TOP: 6px; TEXT-ALIGN: left
}
TABLE.topics-list TR.topic-row {
	LINE-HEIGHT: 200%
}
TABLE.topics-list TR.bottom-row TD {
	BORDER-BOTTOM-WIDTH: 0px
}
TABLE.topics-list .topic-group {
	WIDTH: 120px
}
TABLE.topics-list .topic-group IMG.group-icon {
	MARGIN: 0px 2px 0px 0px; WIDTH: 24px; HEIGHT: 24px
}
TABLE.topics-list .group-icon {
	WIDTH: 24px; MARGIN-RIGHT: 2px; HEIGHT: 24px
}
TABLE.topics-list .topic-title {
	BORDER-BOTTOM: #d4d4d4 1px solid
}
TABLE.topics-list .topic-msg {
	BACKGROUND-COLOR: #ffc
}
TABLE.topics-list .topic-author {
	PADDING-LEFT: 350px; WIDTH: 100px; BORDER-BOTTOM: #d4d4d4 1px solid; WHITE-SPACE: nowrap
}
TABLE.topics-list .thAuthor {
	PADDING-LEFT: 350px
}
TABLE.topics-list .borderBot {
	BORDER-BOTTOM: #d4d4d4 1px solid
}
TABLE.topics-list .topic-author IMG.member-icon {
	MARGIN: 0px 2px 0px 0px; OVERFLOW: hidden; WIDTH: 24px; HEIGHT: 24px; TEXT-ALIGN: center; max-width: 24px
}
TABLE.topics-list .topic-title IMG.topic-icon {
	BACKGROUND: #fff; WIDTH: 16px; MARGIN-RIGHT: 6px; HEIGHT: 16px
}
TABLE.topics-list .topic-posts {
	WIDTH: 48px; BORDER-BOTTOM: #d4d4d4 1px solid
}
TABLE.topics-list .topic-reply {
	WIDTH: 48px; BORDER-BOTTOM: #d4d4d4 1px solid; WHITE-SPACE: nowrap; WORD-WRAP: break-word
}
TABLE.topics-list .topic-time {
	WIDTH: 70px; BORDER-BOTTOM: #d4d4d4 1px solid
}
IMG.mini-page {
	MARGIN-BOTTOM: 3px
}
.media-icon {
	MARGIN: 0px 1px; VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.topics-list-title {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #efefef; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #c00000; PADDING-TOP: 4px; BORDER-BOTTOM: #d4d4d4 1px solid
}
.topic-title-old {
	COLOR: #999! important
}
.pages-nav {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px; PADDING-TOP: 0px
}
.pages-nav A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 4px; PADDING-TOP: 1px
}
.pages-nav SPAN {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 4px; PADDING-TOP: 1px
}
.pages-nav A {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ddd 1px solid; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.pages-nav A:link {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ddd 1px solid; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.pages-nav A:visited {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ddd 1px solid; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.pages-nav A:hover {
	BORDER-LEFT-COLOR: #ddd; BACKGROUND: #e00000; BORDER-BOTTOM-COLOR: #ddd; COLOR: #fff; BORDER-TOP-COLOR: #ddd; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ddd
}
.pages-nav SPAN {
	COLOR: #999
}
.pages-nav .current {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-SIZE: 18px; BORDER-LEFT: #fff 1px solid; COLOR: #999; BORDER-BOTTOM: #fff 1px solid
}
.pages-nav .next {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ddd 1px solid; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid
}
.pages-nav SPAN.next {
	COLOR: #ccc
}
.groups-list {
	FONT-FAMILY: "Lucida Grande",Tahoma,Lucida,Arial,sans-serif
}
.group-icon {
	MARGIN-BOTTOM: 3px; WIDTH: 48px; HEIGHT: 48px
}
.group-icon-min {
	CLEAR: left! important; FLOAT: none; MARGIN: 0px 2px 1px 0px; VERTICAL-ALIGN: middle
}
DIV#elite-topics {
	MARGIN-RIGHT: 286px
}
DIV#elite-topics .topic-list {
	MARGIN: 24px 0px; BORDER-BOTTOM: #ccc 1px dashed
}
DIV#elite-topics .topic-list .topic-title {
	FONT-SIZE: 14px; MARGIN: 12px 0px
}
DIV#elite-topics .topic-list .topic-title A {
	COLOR: #333; BORDER-BOTTOM: #666 1px solid
}
DIV#elite-topics .topic-title A:hover {
	COLOR: #b22222; BORDER-BOTTOM: #b22222 1px solid; TEXT-DECORATION: none
}
DIV#elite-topics .topic-entry {
	MIN-HEIGHT: 100px; MARGIN: 0px 0px 3px 72px; ; HEIGHT: expression(this.height<100?'100px':'bsIE')
}
DIV#elite-topics .face {
	FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 64px; LINE-HEIGHT: 105%; TEXT-ALIGN: center
}
DIV#elite-topics .face IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
DIV#elite-topics .topic-metadata {
	DISPLAY: block; MARGIN: 0px; COLOR: #008000; TEXT-ALIGN: right
}
DIV#elite-topics .topic-metadata A {
	TEXT-DECORATION: underline
}
DIV#elite-topics .topic-metadata  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #008000; PADDING-TOP: 0px
}
DIV#elite-topics A.fullarticle {
	COLOR: #666
}
.gl-1 {
	FONT-SIZE: 12px
}
.gl-2 {
	FONT-SIZE: 16px
}
.gl-3 {
	FONT-WEIGHT: 600; FONT-SIZE: 20px
}
.lite_menu_button A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ccc
}
.admin-mod {
	DISPLAY: none
}
.lite_menu_button A:hover {
	COLOR: #ccc
}
.lite_menu_button A:visited {
	COLOR: #ccc
}
#groups-tags {
	BACKGROUND: #ddebff; WIDTH: 100%
}
.groups-list-inner {
	MARGIN: 0px 6px
}
.vcfs {
	CLEAR: both; BORDER-RIGHT: #c00000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #c00000 10px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #c00000 1px solid; WIDTH: auto; PADDING-TOP: 2px; BORDER-BOTTOM: #c00000 4px solid; BACKGROUND-COLOR: #eee
}
.upload-box {
	BORDER-RIGHT: #f63 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #f63 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; BORDER-LEFT: #f63 1px dashed; WIDTH: 550px; PADDING-TOP: 10px; BORDER-BOTTOM: #f63 1px dashed
}
.uploed-box {
	BORDER-RIGHT: #f63 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #f63 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; BORDER-LEFT: #f63 1px dashed; WIDTH: 550px; PADDING-TOP: 10px; BORDER-BOTTOM: #f63 1px dashed
}
.upload-box H4 {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; BORDER-LEFT: #c00000 5px solid; BORDER-BOTTOM: #ccc 1px solid
}
#upload_img_layout {
	MARGIN-TOP: 5px
}
.inputer-error-box {
	BORDER-RIGHT: #a00 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #a00 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #a00 1px solid; COLOR: #a00; PADDING-TOP: 2px; BORDER-BOTTOM: #a00 1px solid; BACKGROUND-COLOR: #ffc
}
.inputer-limit-notice {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffc; moz-opacity: 0.9
}
.topic-private {
	COLOR: #f60
}
.post-box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; WIDTH: 510px; PADDING-TOP: 8px
}
.post-notice {
	PADDING-RIGHT: 20px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; OVERFLOW: hidden; WIDTH: 200px; PADDING-TOP: 8px; WORD-WRAP: break-word; min-width: 270px
}
UNKNOWN {
	WIDTH: 270px
}
.post-notice IMG {
	OVERFLOW: hidden; ; WIDTH: expression(this.width>280?'280':'bsIE')
}
.post-notice P {
	
}
.upload-a {
	FLOAT: left
}
.upload-m {
	FLOAT: left
}
.upload-r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 370px; COLOR: #c00000; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none
}
.upload_menu {
	MARGIN-BOTTOM: 5px; WIDTH: 100%
}
.upload_menu TD {
	WHITE-SPACE: nowrap
}
.upload_menu IMG {
	VERTICAL-ALIGN: middle
}
.upload_menu TD {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eaeae4; TEXT-ALIGN: right
}
#drag_layout {
	POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #eaeae4; TEXT-ALIGN: right
}
.drag-img {
	FLOAT: left; WIDTH: 16px; CURSOR: n-resize; HEIGHT: 16px
}
.wait-layout-msgbox {
	BORDER-RIGHT: #c00000 2px solid; PADDING-RIGHT: 20px; BORDER-TOP: #c00000 2px solid; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; MARGIN-LEFT: auto; BORDER-LEFT: #c00000 2px solid; WIDTH: 200px; MARGIN-RIGHT: auto; PADDING-TOP: 20px; BORDER-BOTTOM: #c00000 2px solid; TOP: 150px; HEIGHT: 50px; BACKGROUND-COLOR: #fff
}
#upload_box SPAN#postNote {
	
}
.upload_urls {
	OVERFLOW: auto; WIDTH: 350px; MARGIN-RIGHT: 5px; HEIGHT: 17px
}
.bbcode-buttons {
	PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.bbcode-buttons IMG {
	CURSOR: pointer
}
UNKNOWN {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
INPUT.button {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #d66666; BACKGROUND: #c00000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #b00; COLOR: #fff; BORDER-TOP-COLOR: #d66666; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #b00
}
UNKNOWN {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
UNKNOWN {
	CURSOR: pointer
}
.sub {
	BACKGROUND: #c00000; COLOR: #fff
}
#png {
	
}
#page-top {
	HEIGHT: 106px
}
#page-body {
	CLEAR: both
}
#group-nav {
	WIDTH: 99%; COLOR: #ccc
}
#group-logo {
	FLOAT: left
}
#head-body {
	FLOAT: left; WIDTH: 60%
}
#group-nav-head {
	
}
#group-nav-head H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: 2px; TEXT-ALIGN: left
}
#group-nav-body {
	MARGIN-TOP: 5px; FONT-FAMILY: Tahoma
}
#group-nav-body A {
	COLOR: #c00000; TEXT-DECORATION: none
}
#create-topic {
	FLOAT: right; WIDTH: 180px
}
#create-topic A {
	BORDER-RIGHT: #7e0000 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ecb8b8 1px solid; DISPLAY: block; PADDING-LEFT: 7px; FONT-WEIGHT: 100; BACKGROUND: #c00000; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN-LEFT: 6px; BORDER-LEFT: #ecb8b8 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #7e0000 1px solid
}
#create-topic A:hover {
	TEXT-DECORATION: none
}
#group-desc {
	CLEAR: left; MARGIN-TOP: 10px; PADDING-LEFT: 14px; MARGIN-LEFT: 14px; WIDTH: 90%
}
#group-desc A {
	TEXT-DECORATION: underline
}
#group-desc A:hover {
	TEXT-DECORATION: none
}
.emuletop {
	CLEAR: left; BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: url(/ipb_images/2/css_img_emule.gif) #e4eaf2 no-repeat right 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #8394b2 4px solid; WIDTH: auto; COLOR: #000; PADDING-TOP: 4px
}
.emulemain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #eef2f7; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}
.emulemain TABLE {
	BACKGROUND: #f5f9fd
}
 HTML .emulemain TABLE {
	WIDTH: 99%
}
.emulemain TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #f5f9fd; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BORDER-BOTTOM: #f4f4f4 1px solid
}
.emulemain TD.post2 {
	BORDER-BOTTOM-COLOR: #efefef; BACKGROUND-COLOR: #eef2f7
}
.emulemain TD.row3 {
	BORDER-BOTTOM-WIDTH: 0px
}
.emulemain A {
	TEXT-DECORATION: none! important
}
.emulemain A:hover {
	TEXT-DECORATION: underline! important
}
.emulemain .ed2k-hidden {
	DISPLAY: none
}
.emulemain A.ed2k-masking {
	TEXT-DECORATION: line-through! important
}
.emulemain A.ed2k-masking:hover {
	TEXT-DECORATION: line-through! important
}
.ed2k-hidden {
	DISPLAY: none
}
#body-alpha {
	FLOAT: left; WIDTH: 70%
}
#body-beta {
	FLOAT: right; WIDTH: 270px
}
#grelated {
	MARGIN-TOP: 5px; WIDTH: 100%
}
#grelated DL DT {
	FONT-SIZE: 14px
}
#grelated DL DD {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 6px 2px 0px 6px; OVERFLOW: hidden; WIDTH: 72px; PADDING-TOP: 3px; HEIGHT: 88px; TEXT-ALIGN: center
}
#grelated DL DD:hover {
	BACKGROUND: #ededed
}
#group-mytrack {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 120px
}
.two-column #body-beta {
	WIDTH: 160px
}
#groups-related {
	FLOAT: left
}
#gfriend {
	
}
#group-invite-form {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 20px; TEXT-ALIGN: center
}
#group-invite-form #memberlist {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 20px; TEXT-ALIGN: left
}
#group-join-in {
	MARGIN: 20px
}
.fcp-box {
	PADDING-RIGHT: 3px; PADDING-LEFT: 18px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 1em; PADDING-TOP: 3px
}
.fcp-box A {
	TEXT-DECORATION: underline
}
.fcp-title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 99%; PADDING-TOP: 3px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: right
}
 HTML .fcp-title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 98%; PADDING-TOP: 3px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: right
}
.fcp-add-adm-box {
	BORDER-RIGHT: #efefef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #efefef 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #efefef 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #efefef 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.codetop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(/ipb_images/2/css_img_code.gif) #fddbcc no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 98%; COLOR: #000; PADDING-TOP: 3px
}
.sqltop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(/ipb_images/2/css_img_code.gif) #fddbcc no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 98%; COLOR: #000; PADDING-TOP: 3px
}
.htmltop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(/ipb_images/2/css_img_code.gif) #fddbcc no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 98%; COLOR: #000; PADDING-TOP: 3px
}
.codemain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #000 1px dotted; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
.sqlmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #000 1px dotted; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
.htmlmain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #000 1px dotted; WIDTH: 98%; COLOR: #465584; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px dotted; FONT-FAMILY: Courier, Courier New, Verdana, Arial
}
 HTML .codemain {
	MARGIN: 0px 0px 0px 7px; WIDTH: 97%
}
.quotetop {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px dotted; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/ipb_images/2/css_img_quote.gif) #e4eaf2 no-repeat right 50%; PADDING-BOTTOM: 3px; MARGIN: 8px auto 0px; BORDER-LEFT: #8394b2 4px solid; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px dotted
}
.quotemain {
	BORDER-RIGHT: #000 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px dotted; PADDING-LEFT: 4px; BACKGROUND: #fafcfe; PADDING-BOTTOM: 4px; MARGIN: 0px auto 8px; BORDER-LEFT: #8394b2 4px solid; COLOR: #465584; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dotted
}
.subnav-seperator {
	MARGIN: 0px 2px; WIDTH: 1px; HEIGHT: 11px
}
.group-mods {
	Z-INDEX: -1; MARGIN-BOTTOM: 0px; WIDTH: 100%
}
#group-mods UL {
	
}
#group-topics {
	CLEAR: both; WIDTH: 99%
}
.preview_img {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px
}
.preview_audio {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px
}
.preview_video {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px
}
.preview_note {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 1px; PADDING-TOP: 3px
}
.preview_img {
	FLOAT: left; MARGIN: 24px 4px 4px
}
.preview_img IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; ; HEIGHT: expression(this.height > 375? "375px": "auto" ); max-height: 375px
}
.unquoteivideo {
	CLEAR: left
}
.unquoteiaus {
	CLEAR: left
}
.preview_video {
	WIDTH: 450px
}
.preview_audio {
	WIDTH: 350px
}
#notemsg {
	TEXT-ALIGN: left
}
#notemsg P {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f60; FILTER: alpha(opacity=80); PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 2px; moz-opacity: 0.8; opacity: .80
}
#LayerTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 27%; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; min-width: 120px
}
#post-title A.black {
	COLOR: #000; TEXT-DECORATION: none
}
#post-title A.black:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
#groups-all-tags {
	MARGIN: 20px 50px; LINE-HEIGHT: 250%
}
#groups-all-tags .gl-1 {
	FONT-SIZE: 12px
}
#groups-all-tags .gl-2 {
	FONT-SIZE: 16px
}
#groups-all-tags .gl-3 {
	FONT-WEIGHT: 600; FONT-SIZE: 20px
}
#groups-all-tags .gl-4 {
	FONT-WEIGHT: 600; FONT-SIZE: 24px
}
#groups-all-tags .gl-5 {
	FONT-WEIGHT: 600; FONT-SIZE: 28px
}
.memberadm TD {
	PADDING-LEFT: 36px
}
#unquoteiaus {
	CLEAR: left
}
DD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#form1 {
	PADDING-LEFT: 18px
}
.post-list .post-contents A {
	COLOR: #000; TEXT-DECORATION: underline
}
#relate_topic {
	DISPLAY: block
}
#relateP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
#body-beta TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 3px! important; PADDING-TOP: 0px
}
#body-beta TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE TD {
	OVERFLOW: hidden; WORD-WRAP: break-word
}
.unquoteimgs {
	
}
.inner_content {
	CLEAR: left
}
TH {
	FONT-SIZE: 12px
}
.td-author {
	WIDTH: 60px; BORDER-BOTTOM: #d4d4d4 1px solid; TEXT-ALIGN: center
}
.gtopic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px 16px; PADDING-TOP: 0px
}
.topic-msg {
	CURSOR: help; BACKGROUND-COLOR: #f5f5f5
}
#meta {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 6px 10px 0px; COLOR: #333; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px dotted; TEXT-ALIGN: right
}
#meta A {
	COLOR: #333; BORDER-BOTTOM: #333 1px dotted
}
#meta A:hover {
	COLOR: #333; BORDER-BOTTOM: #333 1px solid; TEXT-DECORATION: none
}
DL#related {
	
}
DL#related DT {
	FONT-SIZE: 14px; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 1px solid
}
DL#related DD {
	CLEAR: right; FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 80px; TEXT-ALIGN: center
}
.gname {
	PADDING-TOP: 16px
}
.gicon {
	MARGIN-BOTTOM: 6px
}
DIV.tooltip {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f0f0f0
}
#body-gamma {
	CLEAR: left; BACKGROUND: #f4f4f4; MARGIN: 10px 0px; WIDTH: 100%
}
#body-gamma DIV.more-groups A {
	COLOR: #c00000; TEXT-DECORATION: underline
}
#body-gamma TH {
	TEXT-ALIGN: center
}
#body-gamma TR {
	TEXT-ALIGN: left
}
#body-gamma TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; WIDTH: 10%; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#more-groups {
	MARGIN: 4px auto 0px; WIDTH: 96%; PADDING-TOP: 4px; TEXT-ALIGN: right
}
#more-groups A {
	COLOR: #c00000
}
#allgroups {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; MARGIN: 0px auto 4px; WIDTH: 96%; COLOR: #999; BORDER-BOTTOM: #ccc 1px dashed; TEXT-ALIGN: left
}

@media Unknown    
{
#page-top {
	POSITION: relative
}
#top-search {
	LEFT: 3px; FLOAT: right; POSITION: relative; TOP: -60px; HEIGHT: 36px
}
    }
.recent-groups-only DL DD {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 130px
}
.recent-groups-only DL DD A {
	
}
.clearer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.groups-popup-list {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; Z-INDEX: 10; BACKGROUND: white; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TOP: 136px; TEXT-ALIGN: left
}
.groups-popup-list A {
	COLOR: #4682b4
}
.groups-popup-list A:hover {
	
}
.groups-popup-list P {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 6px
}
.groups-popup-list UL {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.groups-popup-list UL LI {
	LIST-STYLE-TYPE: none
}
#m-groups {
	RIGHT: 3%
}
#v-groups {
	RIGHT: 3%
}
#mytrack {
	MARGIN-TOP: 12px
}
#mytrack DL DT {
	FONT-WEIGHT: bold
}
#mytrack DL DD {
	
}
#mytrace IMG {
	
}
#body-beta DL DT {
	MARGIN-TOP: 8px; FONT-SIZE: 14px; BORDER-BOTTOM: #ccc 1px solid
}
#body-beta DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#body-beta DL DD {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 2px 0px 6px; OVERFLOW: hidden; WIDTH: 72px; PADDING-TOP: 3px; HEIGHT: 88px; TEXT-ALIGN: center
}
#body-beta DL DD:hover {
	BACKGROUND: url(/images/group/ddbg.jpg) #ededed repeat-x
}
#gmytrack DL DT {
	
}
.dengji {
	PADDING-LEFT: 3px
}
.more {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px; TEXT-ALIGN: right
}
.more A {
	TEXT-DECORATION: underline
}
.note {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #fffacd; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
H1.pers {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
.pers {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.pers01 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 40px auto 50px; COLOR: #aaa; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.pers02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 40px auto 50px; COLOR: #aaa; PADDING-TOP: 0px; TEXT-ALIGN: center
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 20px auto auto; PADDING-TOP: 0px; TEXT-ALIGN: center
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.pers2 {
	MARGIN: 20px auto
}
.pers1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 20px auto; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.pers3 {
	FONT-SIZE: 12px; COLOR: #aaa
}
.pers03 {
	MARGIN: 20px 0px 0px
}
#creator {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; MIN-HEIGHT: 50px; BACKGROUND: #f0fff0; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; moz-border-radius: 10px; webkit-border-radius: 10px
}
TD A SPAN.play48 {
	MARGIN-TOP: 20px; DISPLAY: block; Z-INDEX: 2; BACKGROUND: url(/images/blog/play.gif) no-repeat; FILTER: Alpha(Opacity="70"); MARGIN-LEFT: 10px; WIDTH: 31px; CURSOR: hand; COLOR: #000; TEXT-INDENT: 0px; POSITION: relative; HEIGHT: 22px
}
DIV.yui-ac-bd UL {
	Z-INDEX: 6; POSITION: relative
}
DIV.yui-ac-bd UL LI {
	Z-INDEX: 42
}
UNKNOWN {
	BACKGROUND: url(/images/blog/play.png) no-repeat
}
TD IMG.withpre {
	MARGIN-TOP: -42px; MARGIN-LEFT: 0px
}
#relate_topic TABLE {
	
}
#contents {
	WIDTH: 500px
}
BODY:unknown #contents {
	WIDTH: 540px
}
BODY:unknown #handle {
	DISPLAY: none; WIDTH: 542px
}
.moreaction {
	CLEAR: left; FLOAT: left; WIDTH: 240px
}
#v-groups {
	RIGHT: 3%
}
UL.topic-list LI {
	CLEAR: left; DISPLAY: block; Z-INDEX: 2; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: auto
}
UL.topic-list {
	CLEAR: both; PADDING-LEFT: 10px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
UL.topic-list LI.istopic {
	MARGIN-LEFT: 0px; POSITION: relative
}
UL.topic-list LI.non-topic {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px auto; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: auto; TEXT-ALIGN: center
}
UL.topic-list LI.non-topic:hover {
	BORDER-RIGHT: #adff2f 1px solid; BORDER-TOP: #adff2f 1px solid; BACKGROUND: #fff; BORDER-LEFT: #adff2f 1px solid; BORDER-BOTTOM: #adff2f 1px solid
}
.blog_title {
	CLEAR: right! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.blog_title A {
	COLOR: #333; BORDER-BOTTOM: #666 1px solid
}
.blog_title A:visited {
	COLOR: #333; BORDER-BOTTOM: #333 1px solid
}
.blog_title A:hover {
	COLOR: #c30; BORDER-BOTTOM: #c30 1px solid; TEXT-DECORATION: none
}
.blogTag_title {
	CLEAR: right; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.blogTag_title A {
	COLOR: #000; TEXT-DECORATION: none
}
.blogTag_title A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
H1 {
	CLEAR: right
}
H2 {
	CLEAR: right
}
DIV.bt_title SMALL {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.blog_entry {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 1.8em; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.blog_entry IMG {
	PADDING-RIGHT: 12px
}
.blog_entry P {
	CLEAR: right; MARGIN: 0px; COLOR: #008000
}
.blog_entry A {
	COLOR: #333; TEXT-DECORATION: underline
}
.blog_entry A:visited {
	TEXT-DECORATION: underline
}
.blog_entry SPAN.blog_extra {
	COLOR: #008000
}
.file_img {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 18px 8px 0px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 100px; ; HEIGHT: expression(this.height>100?'100px':'bsIE'); max-height: 100px
}
.file_img:hover {
	BORDER-RIGHT: #adff2f 1px solid; BORDER-TOP: #adff2f 1px solid; BACKGROUND: #fffacd; BORDER-LEFT: #adff2f 1px solid; BORDER-BOTTOM: #adff2f 1px solid
}
.blog_metadata {
	CLEAR: right; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #008000; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.blog_metadata A {
	COLOR: #008000; TEXT-DECORATION: underline
}
.blog_metadata A:hover {
	COLOR: #f30; TEXT-DECORATION: underline
}
.blog_metadata A:visited {
	COLOR: #008000
}
.blog_metadata SMALL {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #999999
}
#content1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 700px; PADDING-TOP: 0px
}
#content2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90%; PADDING-TOP: 0px
}
TABLE {
	CLEAR: both; FONT-WEIGHT: bolder; TEXT-ALIGN: left
}
TABLE TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px
}
.title-text1 {
	BACKGROUND: url(/images/bgfile.jpg) repeat-x; HEIGHT: 37px
}
.labe {
	FONT-WEIGHT: bolder; TEXT-ALIGN: center
}
.labe01 {
	BORDER-BOTTOM: #dddddd 1px solid
}
.labe-file {
	WIDTH: 13%; TEXT-ALIGN: center
}
.labe02 {
	COLOR: #ff0000
}
.labe-img {
	MARGIN: 0px auto; WIDTH: 50px; TEXT-ALIGN: center
}
.labe02 :hover {
	
}
.labe9 {
	DISPLAY: block; PADDING-BOTTOM: 10px
}
TD IMG.recImg {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.imgs {
	MARGIN-TOP: 3px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 5px
}
.package:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
 HTML .package {
	DISPLAY: inline-block
}
 HTML .package {
	HEIGHT: 1%
}
#folder-label-wrapper {
	WIDTH: 100%
}
#folder-table-wrapper {
	WIDTH: 100%
}
#folder-label-wrapper {
	BORDER-BOTTOM: #ccc 1px solid
}
#folder-label-title {
	MARGIN-TOP: 6px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; TEXT-ALIGN: right
}
#folder-label-title A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#folder-label-title {
	FONT-WEIGHT: bold
}
#folder-label-title-link {
	FONT-WEIGHT: bold
}
#folder-table-loading {
	TEXT-ALIGN: center
}
.firstLi {
	CLEAR: both; PADDING-RIGHT: 0px! important; DISPLAY: block; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 5px! important; PADDING-TOP: 5px! important
}
.folder-table TD {
	MARGIN-TOP: 0px; WIDTH: 20%; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.folder-table TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; BORDER-RIGHT-WIDTH: 0px
}
.thumbImage {
	max-width: 100px; max-height: 100px
}
 HTML.thumbImage {
	
}
.box-img {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; BACKGROUND: #cccccc; PADDING-BOTTOM: 3px; MARGIN: 0px auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100px; LINE-HEIGHT: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100px; TEXT-ALIGN: center
}
UL LI {
	LIST-STYLE-TYPE: none
}
.imgBox {
	HEIGHT: 100%; TEXT-ALIGN: center
}
.imgBox LI {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100px; LINE-HEIGHT: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 100px; TEXT-ALIGN: center
}
.imgBox thumbImg {
	MARGIN: 0px auto; VERTICAL-ALIGN: middle; TEXT-ALIGN: center; max-width: 100px; max-height: 100px
}
.bgg {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; FONT-SIZE: 90px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 100px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100px; TEXT-ALIGN: center
}
.bgg IMG {
	VERTICAL-ALIGN: middle
}
.warp-imgbox {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.warp-imgbox1 {
	MARGIN-LEFT: 0px! important
}
.wrap-img {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; FONT-SIZE: 90px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 108px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 104px; TEXT-ALIGN: center
}
.wrap-img:hover {
	BORDER-RIGHT: #adff2f 1px solid; BORDER-TOP: #adff2f 1px solid; BACKGROUND: #fffacd; BORDER-LEFT: #adff2f 1px solid; BORDER-BOTTOM: #adff2f 1px solid
}
.wrap-img IMG {
	VERTICAL-ALIGN: middle
}
.title-n {
	TABLE-LAYOUT: fixed; MARGIN: 0px auto; WORD-BREAK: break-all; WORD-WRAP: break-word
}
A.recTitle:hover {
	TEXT-DECORATION: none
}
.folder-entry-thumb {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px auto 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 100px
}
.folder-entry-thumb-l {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px auto 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 100px
}
.folder-entry-thumb-l {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.folder-entry-thumb:hover {
	BORDER-RIGHT: #adff2f 1px solid; BORDER-TOP: #adff2f 1px solid; BACKGROUND: #fffacd; BORDER-LEFT: #adff2f 1px solid; BORDER-BOTTOM: #adff2f 1px solid; TEXT-DECORATION: none
}
.folder-entry-thumb-l:hover {
	BORDER-RIGHT: #adff2f 1px solid; BORDER-TOP: #adff2f 1px solid; BACKGROUND: #fffacd; BORDER-LEFT: #adff2f 1px solid; BORDER-BOTTOM: #adff2f 1px solid; TEXT-DECORATION: none
}
